TcsInsurance/TcsInsurance/Connected Services/TinkoffInsuranceServiceReference/Insurance1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tinkoff.ru/partners/insurance/investing/0.1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Insurance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tinkoff.ru/partners/insurance/investing/0.1" location="http://localhost:53175/Insurance.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_InvestingInsuranceInterface" type="i0:InvestingInsuranceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/getProducts" style="document" />
      <wsdl:input name="getProductsRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getQuotes">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/getQuotes" style="document" />
      <wsdl:input name="getQuotesRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getQuotesResponse1">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPolicy">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/createPolicy" style="document" />
      <wsdl:input name="createPolicyRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createPolicyResponse1">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPolicy">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/getPolicy" style="document" />
      <wsdl:input name="getPolicyRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPolicyResponse1">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPolicyDocument">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/getPolicyDocument" style="document" />
      <wsdl:input name="getPolicyDocumentRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPolicyDocumentResponse1">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="acceptPolicy">
      <soap:operation soapAction="http://tinkoff.ru/partners/insurance/investing/0.1/InvestingInsuranceInterface/acceptPolicy" style="document" />
      <wsdl:input name="acceptPolicyRequest1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="acceptPolicyResponse1">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommonFault">
        <soap:fault use="literal" name="CommonFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Insurance">
    <wsdl:port name="BasicHttpBinding_InvestingInsuranceInterface" binding="tns:BasicHttpBinding_InvestingInsuranceInterface">
      <soap:address location="http://localhost:53175/Insurance.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>