TcsInsurance/TinkoffService/Service References/TickerServiceReference/WSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.backend.uralsibins.ru/" targetNamespace="http://ws.backend.uralsibins.ru/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="beneficiaries" type="tns:beneficiaries" />
  <xs:element name="beneficiary" type="tns:beneficiary" />
  <xs:element name="checkInsurer" type="tns:checkInsurer" />
  <xs:element name="checkInsurerResponse" type="tns:checkInsurerResponse" />
  <xs:element name="checkT" type="tns:checkT" />
  <xs:element name="checkTResponse" type="tns:checkTResponse" />
  <xs:element name="contract" type="tns:contract" />
  <xs:element name="contracts" type="tns:contracts" />
  <xs:element name="getInsurerContracts" type="tns:getInsurerContracts" />
  <xs:element name="getInsurerContractsResponse" type="tns:getInsurerContractsResponse" />
  <xs:element name="getInsurerInfo" type="tns:getInsurerInfo" />
  <xs:element name="getInsurerInfoResponse" type="tns:getInsurerInfoResponse" />
  <xs:element name="getStrategyTickerTotal" type="tns:getStrategyTickerTotal" />
  <xs:element name="getStrategyTickerTotalResponse" type="tns:getStrategyTickerTotalResponse" />
  <xs:element name="getStrategyTickers" type="tns:getStrategyTickers" />
  <xs:element name="getStrategyTickersResponse" type="tns:getStrategyTickersResponse" />
  <xs:element name="insured" type="tns:insured" />
  <xs:element name="insured_list" type="tns:insuredList" />
  <xs:element name="insurer_info" type="tns:insurerInfo" />
  <xs:element name="investition" type="tns:investition" />
  <xs:element name="investitions" type="tns:investitions" />
  <xs:element name="option" type="tns:option" />
  <xs:element name="payment" type="tns:payment" />
  <xs:element name="payment_graphic" type="tns:paymentGraphic" />
  <xs:element name="payments" type="tns:payments" />
  <xs:element name="pg_item" type="tns:pgItem" />
  <xs:element name="ping" type="tns:ping" />
  <xs:element name="pingResponse" type="tns:pingResponse" />
  <xs:element name="registerInsurer" type="tns:registerInsurer" />
  <xs:element name="registerInsurerResponse" type="tns:registerInsurerResponse" />
  <xs:element name="risk" type="tns:risk" />
  <xs:element name="risks" type="tns:risks" />
  <xs:element name="ticker" type="tns:ticker" />
  <xs:element name="ticker_total" type="tns:tickerTotal" />
  <xs:element name="tickers" type="tns:tickers" />
  <xs:element name="wsContractResponse" type="tns:wsContractResponse" />
  <xs:element name="wsInsurerInfoResponse" type="tns:wsInsurerInfoResponse" />
  <xs:element name="wsResponse" type="tns:wsResponse" />
  <xs:element name="wsTickerTotalResponse" type="tns:wsTickerTotalResponse" />
  <xs:element name="wsTickersResponse" type="tns:wsTickersResponse" />
  <xs:complexType name="getInsurerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="pInsurerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInsurerInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsInsurerInfoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsInsurerInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" name="error_message" type="xs:string" />
      <xs:element minOccurs="0" name="stack_trace" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_info" type="tns:insurerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insurerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="birth_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="birth_place" type="xs:string" />
      <xs:element minOccurs="0" name="fact_address" type="xs:string" />
      <xs:element minOccurs="0" name="reg_address" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_type" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_serie" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_number" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_doc_org" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_org_code" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkInsurer">
    <xs:sequence>
      <xs:element minOccurs="0" name="pFullname" type="xs:string" />
      <xs:element minOccurs="0" name="pBirthDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkInsurerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" name="error_message" type="xs:string" />
      <xs:element minOccurs="0" name="stack_trace" type="xs:string" />
      <xs:element minOccurs="0" name="object" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ping">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkT">
    <xs:sequence>
      <xs:element minOccurs="0" name="pFullname" type="xs:string" />
      <xs:element minOccurs="0" name="pBirthDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkTResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStrategyTickerTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="pStrategyCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStrategyTickerTotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsTickerTotalResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsTickerTotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" name="error_message" type="xs:string" />
      <xs:element minOccurs="0" name="stack_trace" type="xs:string" />
      <xs:element minOccurs="0" name="ticker_total" type="tns:tickerTotal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tickerTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategy_code" type="xs:string" />
      <xs:element minOccurs="0" name="strategy_name" type="xs:string" />
      <xs:element minOccurs="0" name="last_week_change" type="xs:double" />
      <xs:element minOccurs="0" name="last_year_change" type="xs:double" />
      <xs:element minOccurs="0" name="last_52_week_max" type="xs:double" />
      <xs:element minOccurs="0" name="last_52_week_min" type="xs:double" />
      <xs:element minOccurs="0" name="last_week_max_growth" type="xs:double" />
      <xs:element minOccurs="0" name="last_week_max_fall" type="xs:double" />
      <xs:element minOccurs="0" name="last_value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStrategyTickers">
    <xs:sequence>
      <xs:element minOccurs="0" name="pStrategyCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStrategyTickersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsTickersResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsTickersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" name="error_message" type="xs:string" />
      <xs:element minOccurs="0" name="stack_trace" type="xs:string" />
      <xs:element minOccurs="0" name="tickers" type="tns:tickers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tickers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ticker" type="tns:ticker" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ticker">
    <xs:sequence>
      <xs:element minOccurs="0" name="strategy_code" type="xs:string" />
      <xs:element minOccurs="0" name="strategy_name" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInsurerContracts">
    <xs:sequence>
      <xs:element minOccurs="0" name="pInsurerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInsurerContractsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsContractResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsContractResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="error_code" type="xs:string" />
      <xs:element minOccurs="0" name="error_message" type="xs:string" />
      <xs:element minOccurs="0" name="stack_trace" type="xs:string" />
      <xs:element minOccurs="0" name="contracts" type="tns:contracts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contracts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="contract" type="tns:contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="doc_serie" type="xs:string" />
      <xs:element minOccurs="0" name="doc_number" type="xs:string" />
      <xs:element minOccurs="0" name="doc_state" type="xs:string" />
      <xs:element minOccurs="0" name="doc_start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doc_end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doc_currency_iso_code" type="xs:string" />
      <xs:element minOccurs="0" name="premium" type="xs:double" />
      <xs:element minOccurs="0" name="payment_frquency" type="xs:int" />
      <xs:element minOccurs="0" name="ins_amount" type="xs:double" />
      <xs:element minOccurs="0" name="insurer_id" type="xs:int" />
      <xs:element minOccurs="0" name="insurer_name" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_birth_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="insurer_id_doc_type" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_id_doc_serie" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_id_doc_number" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_id_doc_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="insurer_id_doc_org" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_id_doc_org_code" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_fact_address" type="xs:string" />
      <xs:element minOccurs="0" name="insurer_reg_address" type="xs:string" />
      <xs:element minOccurs="0" name="insured_list" type="tns:insuredList" />
      <xs:element minOccurs="0" name="beneficiaries" type="tns:beneficiaries" />
      <xs:element minOccurs="0" name="investitions" type="tns:investitions" />
      <xs:element minOccurs="0" name="option" type="tns:option" />
      <xs:element minOccurs="0" name="risks" type="tns:risks" />
      <xs:element minOccurs="0" name="payments" type="tns:payments" />
      <xs:element minOccurs="0" name="payment_graphic" type="tns:paymentGraphic" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insuredList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="insured" type="tns:insured" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insured">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="birth_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="primary_flag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="beneficiaries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="beneficiary" type="tns:beneficiary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="beneficiary">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="birth_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_doc_type" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_serie" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_number" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_doc_org" type="xs:string" />
      <xs:element minOccurs="0" name="id_doc_org_code" type="xs:string" />
      <xs:element minOccurs="0" name="percent" type="xs:double" />
      <xs:element minOccurs="0" name="risk_code" type="xs:string" />
      <xs:element minOccurs="0" name="risk_name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="investitions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="investition" type="tns:investition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="investition">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="date_payment" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pay_amount" type="xs:double" />
      <xs:element minOccurs="0" name="invest_id" type="xs:int" />
      <xs:element minOccurs="0" name="invest_name" type="xs:string" />
      <xs:element minOccurs="0" name="ic_id" type="xs:int" />
      <xs:element minOccurs="0" name="ic_invest_id" type="xs:int" />
      <xs:element minOccurs="0" name="ic_invest_name" type="xs:string" />
      <xs:element minOccurs="0" name="ic_date_change" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ic_date_statement" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="option">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="strategy" type="xs:string" />
      <xs:element minOccurs="0" name="index" type="xs:string" />
      <xs:element minOccurs="0" name="participation_rate" type="xs:double" />
      <xs:element minOccurs="0" name="base_index" type="xs:double" />
      <xs:element minOccurs="0" name="buy_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="currency_iso_code" type="xs:string" />
      <xs:element minOccurs="0" name="currency_rate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="risks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="risk" type="tns:risk" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="risk">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="ins_amount" type="xs:double" />
      <xs:element minOccurs="0" name="premium_amount" type="xs:double" />
      <xs:element minOccurs="0" name="contribution_amount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="payment" type="tns:payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="plan_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fact_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="currency_iso_code" type="xs:string" />
      <xs:element minOccurs="0" name="rate_factor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentGraphic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pg_item" type="tns:pgItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pgItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="plan_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="plan_amount" type="xs:double" />
      <xs:element minOccurs="0" name="fact_amount" type="xs:double" />
      <xs:element minOccurs="0" name="debt_amount" type="xs:double" />
      <xs:element minOccurs="0" name="premium_index" type="xs:int" />
      <xs:element minOccurs="0" name="ins_year_index" type="xs:int" />
      <xs:element minOccurs="0" name="pay_in_year_index" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerInsurer">
    <xs:sequence>
      <xs:element minOccurs="0" name="pFullName" type="xs:string" />
      <xs:element minOccurs="0" name="pBirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pDocSerie" type="xs:string" />
      <xs:element minOccurs="0" name="pDocNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registerInsurerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsResponse" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>